:root {
  --color-dark: #2d3c59;
  --color-light: #ffffff;
  --color-error: #f01c35;

  --color-purple: #8833ff;
  --color-blue: #4971ff;
  --color-green: #25bd33;
  --color-pink: #e62e7b;
  --color-orange: #ff6633;
  --color-teal-blue: #33bfff;
  --color-red: #e62e2e;
  --color-yellow: #ffcb33;
  --color-bronze: #cc7429;
  --color-tiffany: #2ee6ca;
  --color-gray: #6b7a99;
  --color-light-gray: #c3cad9;
  --color-light-light-gray: #edeff2;

  --color-bg-light: #f7f8fa;
  --color-bg-dark: #6b7a99;
  --color-bg-purple: #f7f1ff;

  --width-desktop: none;
}
